<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ebro{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/codehilite.css">
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>

  <div class="x-header">
    <h1><a href="/">Ebro</a></h1>
  </div>
  <div class="x-menu">
    {% for menu_item in MENU %}
    <a class="x-menu-item {% if menu_item.id and active_menu == menu_item.id %}is-active{% endif %}"
      href="{{ menu_item.url }}">{{menu_item.name|safe}}</a>
    {% endfor %}
  </div>
  <div class="x-body">
    {% block body %}{% endblock %}
  </div>

</body>

</html>
