<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ebro{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/codehilite.css">
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>

  <div class="x-header">
    <h1>Ebro</h1>
  </div>
  <div class="x-menu">
    <a class="x-menu-item {% if active_menu == 'home' %}is-active{% endif %}" href="/">Home</a>
    <a class="x-menu-item {% if active_menu == 'install' %}is-active{% endif %}" href="/install/">Install</a>
    <a class="x-menu-item {% if active_menu == 'changelog' %}is-active{% endif %}" href="/changelog/">Changelog</a>
  </div>
  <div class="x-body">
    {% block body %}{% endblock %}
  </div>

</body>

</html>