{% extends "_base.html" %}

{% macro properties(d) %}
<ul>
    {% for property in d %}
    <li>
        <code>{{property}}</code>:
        {{d[property].description}}
        {% if d[property].type == 'object' and d[property].additionalProperties %}
        {{- properties(d[property].additionalProperties.properties) -}}
        {% endif %}
        {% if d[property].type == 'object' and d[property].properties %}
        {{- properties(d[property].properties) -}}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endmacro %}

{% block body %}
{{content|safe}}
{{- properties(schema.properties) -}}
{% endblock %}