body {
  background-color: #e7e7e7;
  margin: 1em;
}

code {
  background-color: #f8f8f8;
  padding: 0 0.3em;
}

details {
  background-color: #f9f6ed;
  overflow: auto;
  padding: 0 1em;
}

details summary {
  padding: .5em 0;
}

.x-header,
.x-menu,
.x-body {
  padding: 0 15px;
  display: block;
  margin: auto;
  max-width: 800px;
  box-sizing: border-box;
}

.x-menu {
  padding: 0;
  display: flex;
}

.x-menu-item {
  flex-shrink: 0;
  padding: 6px 16px;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid #c0c0c0;
}
.x-menu-item.is-active {
  padding: 5px 15px;
  background-color: white;
  border: 1px solid #c0c0c0;
  border-bottom-width: 0;
}
.x-menu-filler {
  flex-grow: 1;
  border-bottom: 1px solid #c0c0c0;
}

.x-body {
  padding: 0px 15px;
  overflow: auto;
  background-color: white;
  border: 1px solid #c0c0c0;
  border-top-width: 0;
}

.codehilite pre {
  margin: 1em 0;
  padding: 1em;
  overflow-y: hidden;
  overflow-x: auto;
}

.codehilite code {
  background-color: transparent;
  padding: initial;
}
