body {
  background-color: whitesmoke;
  margin: 1em;
}

.x-header,
.x-content {
  display: block;
  margin: auto;
  max-width: 800px;
}

.x-content {
  padding: 1px 1em;
  background-color: white;
}
