/* Variables */

:root {
  --body-vertical-margin: 1rem;
  --content-max-width: 900px;
  --title-font-size: 2rem;
  --brand-color: rgb(0, 128, 128);
  --brand-dark-color: rgb(0, 115, 115);
  --backdrop-color: #efefef;
  --background-color: white;
  --tip-background-color: #f9f6ed;
  --base-padding: 1rem;
  --text-padding: 3rem;
  --text-paragraph-spacing: 1.5rem;
}

/* If one day media queries support using css variables... */
/*                 calc(var(--content-max-width) + (var(--body-vertical-margin) * 2)) */
@media (max-width: calc(900px + 2rem)) {
  :root {
    --body-vertical-margin: 0;
  }
}

@media (max-width: calc(800px)) {
  :root {
    --text-padding: var(--text-paragraph-spacing);
    --title-font-size: 1.5rem;
  }
}

/* Fonts */

@font-face {
  font-family: "Noto Sans";
  src: url("/static/NotoSans.ttf");
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/static/JetBrainsMono.ttf");
}

/* Root */

body {
  background-color: var(--backdrop-color);
  font-family: "Noto Sans", sans-serif;
  margin: var(--body-vertical-margin) 0;
}

code,
pre {
  font-family: "JetBrains Mono", monospace;
}

code {
  color: #880000;
  background-color: #f8f8f8;
  padding: 0 0.3em;
}

/* Blocks */

.x-header,
.x-menu,
.x-body {
  display: block;
  margin: auto;
  max-width: var(--content-max-width);
  box-sizing: border-box;
  overflow: hidden;
}

/* Header */

.x-header {
  padding: 0 var(--base-padding);
  background-color: var(--brand-color);
}

.x-header h1 {
  color: white;
  text-shadow: 1px 1px 0px black;
  line-height: 1;
  font-size: var(--title-font-size);
}

.x-header h1 a {
  color: inherit;
  text-decoration: none;
}

/* Menu */

.x-menu {
  padding: 0;
  display: flex;
  overflow: auto;
  background-color: var(--brand-dark-color);
}

.x-menu-item {
  flex-shrink: 0;
  padding: calc(var(--base-padding) / 2) var(--base-padding);
  text-decoration: none;
  color: white;
}
.x-menu-item.is-active {
  background-color: var(--background-color);
  color: inherit;
}

/* Body */

.x-body {
  padding: 0 var(--text-padding);
  background-color: var(--background-color);
}

.x-body p,
.x-body ul,
.x-body h1,
.x-body h2,
.x-body h3,
.x-body h4,
.x-body h5,
.x-body h6 {
  margin: var(--text-paragraph-spacing) 0;
}

/* ToC */

.x-toc {
  background-color: var(--tip-background-color);
  padding: 0 var(--text-paragraph-spacing);
  overflow: auto;
}

.x-toc-title {
  display: block;
  margin: var(--text-paragraph-spacing) 0;
  font-weight: bold;
}

/* Changelog */

.x-changelog h1 {
  background-color: #edf0f9;
  margin: var(--text-paragraph-spacing) 0;
  padding: calc(var(--text-paragraph-spacing) / 2) var(--text-paragraph-spacing);
  line-height: 1;
}

.x-changelog-content {
  margin: 0 var(--text-paragraph-spacing)
    calc(var(--text-paragraph-spacing) * 2) var(--text-paragraph-spacing);
}

/* Tip */

.x-tip {
  background-color: var(--tip-background-color);
  padding: 0 var(--text-paragraph-spacing);
  overflow: auto;
}
.x-tip.is-warning {
  border: 3px dashed #ffa13d;
}

/* Anchor Link */

.x-anchorlink {
  text-decoration: none;
  color: inherit;
}

/* Title Link */

.x-title-link {
  font-size: 1rem;
}

/* Codehilite */

.codehilite {
  margin: var(--text-paragraph-spacing) 0;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
}

.codehilite pre {
  margin: 0;
  padding: var(--text-paragraph-spacing);
}

.codehilite code {
  color: inherit;
  background-color: transparent;
  padding: initial;
}
